/.ninja_deps
/.ninja_log
/out
/build/android/__pycache__/*.pyc
*.pyc
.ropeproject
/.idea
/.vscode/settings.json
/src/m2
/ninja_build/main/out
/ninja_build/main/.ninja_log
/ninja_build/main/.ninja_deps
